:root {
    --black: #252525;
    --white: #fff;
    --green: green;
    --red: red;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
    text-decoration: none;
    list-style: none;
    border: none;
    border-radius: 0;
}


html {
    font-size: 0.625rem;
    scroll-behavior: smooth;
}

h1 {
    font-size: 4.5rem;
    font-weight: 800;
}

h2 {
    font-size: 3.5rem;
    padding: .5rem 0;
    margin: 1rem 0;
    font-weight: 700;
}

h3 {
    font-size: 2.5rem;
    padding: .5rem 0;
    margin: .7rem 0;
}

p,a {
    font-size: 1.5rem;
}
iframe {
    height: auto;
    width: 100%;
}
img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    line-height:0;
}
.text-center {
  text-align: center;
  padding: 2rem 0;
}

.btn {
    display: block;
    padding: 1rem 1.5rem;
    font-weight: 600;
    text-align: center;
}
.container {
    margin: 0 auto;
    max-width: 110rem;
    width: 95%;
    padding: 8rem 0;
}
@media(min-width: 32rem){
    .container {
        width: 90%;
    }
}
.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex > * {
    width: 100%;
}
@media(min-width: 50rem){
    .flex {
        flex-direction: row;
        justify-content: space-between;
    }
    .flex > * {
        width: calc(50% - 1rem);
    }
}
/************************header****************************/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    color: var(--white);
    background-color: #252525;
    background-color: var(--black);
}

header .container {
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
}

nav > #logo {
    font-size: 3rem;
    white-space: nowrap;
}

nav > ul {
    display: flex;
    list-style: none;
}

nav > ul > li > a{
    display: block;
    color: #fff;
    color: var(--white);
    font-size: 1.5rem;
    text-decoration: none;
    height: 100%;
    padding: 1rem;
    border-bottom: 2px solid green;
}

nav  ul  li:nth-of-type(2) a {
    margin: 0 1rem;
}

nav > ul > li > a:hover {
    border-bottom: 2px solid red;
}

/*******************Hero*****************************/

#hero {
    padding: 3rem 0 0 0;
    color: #fff;
    color: var(--white);
    background-color: #252525;
    background-color: var(--black);
}
#hero #hero-content h1 {
    text-align: center;
    padding: 0 0 2.5rem 0;
}

#hero #hero-content #hero-info #hero-cta {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

#hero #hero-content a{
    margin: .5rem 0;
    width: 100%;
    color: #fff;
    color: var(--white);
    background-color: green;
    background-color: var(--green);

}

#hero #hero-content a:last-of-type {
    background-color: red;
    background-color: var(--red);
}

@media(min-width: 35rem) {
    #hero #hero-content #hero-info #hero-cta {
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 0;
    }

    #hero #hero-content a{
        margin: .5rem 0;
        width: calc(50% - .5rem);
        color: #fff;
        color: var(--white);
        background-color: green;
        background-color: var(--green);
    }
}

@media(min-width: 50rem){
    #hero {
        padding: 12.5rem 0 0 0
    }
    #hero #hero-content h1 {
        text-align: left;
    }
    #hero #hero-content #hero-info #hero-cta {
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem 0 0 0;
    }
    #hero #hero-content a:last-of-type {
        display: none;
    }

}

/***********************about*********************************/
#about h2 {
    padding-left: 1rem;
    border-left: .8rem solid green;
}
#about h3 {
    padding-left: 1rem;
    border-left: .8rem solid red;
}
#about p {
    color: grey;
}

/********************specials*****************************/
#specials {
    background-color: lightgrey;
}
.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    margin: 1rem 0;
    padding: 2rem 1rem;
    background-color: white;
    text-align: center;
    outline: 1px solid black;
}

.card-heading {
    border-bottom: .1rem dashed lightgrey;
}

.card-body {
    padding: 1rem 0 0 0;
}    
.card-body > a {
    margin: 2rem 0 0 0;
    color: #fff;
    color: var(--white);
    background-color: #252525;
    background-color: var(--black);
}

.card-body > a:hover {
    background-color: lightgrey;
}

@media(min-width: 45rem){
    .cards {
        flex-direction: row;    
    } 
    
    .card {
        margin: 0 2rem 0 0;
    }

    div > .card:last-of-type {
        margin: 0px;  
    }
}
/***************************images************************************/
#gallery {
    column-count: 1;
}
#gallery > img {
    margin: 5px 0;
    outline: .1rem solid black;
}
@media(min-width: 50rem) {
    #gallery {
        column-count: 2;
        column-gap: 10px;
    }
}

@media(min-width: 62rem) {
    #gallery {
        column-count: 4;
        column-gap: 10px;
    }
} 
/*********************contact**************************************/
#contact {
    color: #fff;
    color: var(--white);
    background-color: #252525;
    background-color: var(--black);
}

#contact form {
    display: flex;
    flex-direction: column;
}
#contact form > input,
#contact form > textarea {
    font-size: 1.6rem;
    padding: 1.5rem .5rem;
    margin: 0 0 1rem 0;
    background-color: #252525;
    background-color: var(--black);
    border-bottom: .2rem solid #fff;
    color: #fff;
    color: var(--white);
}

#contact form input[type="submit"] {
    background-color: lightgrey;
    border-bottom: none;
}

/**************************footer*****************************/
footer {
    color: #fff;
    color: var(--white);
    background-color: #252525;
    background-color: var(--black);
}
#footer-content {
    display: flex;
    flex-direction: column;
}
@media(min-width: 50rem){
    #footer-content {
        flex-direction: row;
        justify-content: space-between;
    }
    #footer-content > * {
        width: calc(25% - .5rem);    
    }
}

